body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('assets/survive_the_zombie/background.png') no-repeat center center fixed;
  background-size: coever;
  padding: 30px;
  color: white;
}

nav {
  margin-bottom: 30px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #007BFF;
}

nav a:hover {
  text-decoration: underline;
}

h1, h2, p {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
